<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" class="wf-firasans-n4-active wf-active">

<head>
	{{ block "header" . -}}{{- end }}
</head>
<script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.0.0/dist/algoliasearch-lite.umd.js"
	integrity="sha256-MfeKq2Aw9VAkaE9Caes2NOxQf6vUa8Av0JqcUXUGkd0=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.0.0/dist/instantsearch.production.min.js"
	integrity="sha256-6S7q0JJs/Kx4kb/fv0oMjS855QTz5Rc2hh9AkIUjUsk=" crossorigin="anonymous"></script>

<body {{- if .Site.Params.themeColor }}
	class="{{ .Site.Params.themeColor }} {{if .Site.Params.layoutReverse}}layout-reverse{{end}}" {{ end }}>
	{{ partial "sidebar.html" . }}
	<div class="content container">
		{{ block "content" . }}{{ end }}
		<div class="footer">
			{{ block "footer" . }}{{ end }}
		</div>
	</div>
	<!-- Google Analytics -->
	{{ if .Site.GoogleAnalytics -}}
	{{ template "_internal/google_analytics_async.html" . }}
	{{- end }}
</body>

</html>