a {
    color: #15631e;
}

.posts .post .meta,
.posts .post .read-more-link {
    font-weight: 600;
    font-family: Arial
}

.sidebar .sidebar-bottom {
    text-align: center;
    top: initial;
    bottom: 1em;
}

.sidebar {
    /*from hyde*/
    padding: 2rem 1rem;
    color: rgba(255, 255, 255, .5);
    background-color: #0c250f;
}

.sidebar .sidebar-nav li {
    text-align: left;
    font-size: 16px;
    margin-top: 5px;
}

.sidebar .sidebar-nav li:hover {
    text-decoration: underline;
}

.sidebar .sidebar-nav li a svg {
    margin-right: 10px;
}

a:hover,
a:focus {
    /*from poole*/
    text-decoration: none;
}

.headshot {
    /*from custom*/
    width: 160px;
    height: 160px;
}

.tech-list {
    text-align: left;
    list-style: none;
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 0;
}

.tech-list li {
    list-style-type: none;
    text-align: left;
}

tech-list li {
    text-indent: 10px;
    /*.content:"#";*/
}

.sidebar .container .lead {
    margin-bottom: 0;
    margin-top: 1rem;

}

.sidebar .container .lead span {
    display: inline-block;
    font-size: 24px;
    color: white;
}

.sidebar .container .lead-second {
    text-align: left;
}

.sidebar .container .lead-second a {
    color: rgb(255, 255, 255);
    text-decoration: underline;
    font-size: 13px;
}

@media (min-width: 78em) {
    .content {
        max-width: 63em;
        margin: 0;
        margin: auto;
        padding-left: 18rem;
    }
}

.sidebar-about h1 {
    text-align: initial;
}

.sidebar-about h1.brand {
    text-align: center;
    font-size: 20px;
}
